.dotnav-right {
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
    position: fixed;
}





.dotnav{
    z-index: 999;
}

.dotnav > li:nth-child(n+2) {
    margin-left: 15px;
}

.dotnav > li > a {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #0a361e;
    vertical-align: top;
    overflow: hidden;
    padding: 0;
    text-indent: -999%;
}

.dotnav > li > a:hover,
.dotnav > li > a:focus {
    background: #0a361e;
    outline: none;
}
.dotnav > li > a:active {
    background: red;
}
.dotnav > li.active > a {
    background: #0a361e;
}
.dotnav-vertical > li {
    display: block;
    margin-right:10px;
}
.dotnav-vertical > li:nth-child(n+2) {
    margin-left: 0;
    margin-top: 10px;
}