html, body {
  margin: 0;
  height: 100vh;
  position:relative;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family:'EB Garamond', Roboto;
  margin: 0 auto;
}

.panel{
  text-align: left;
  color: #0a361e;
  height: 100vh;
  background-image: url('./img/texture.png');
  z-index: 1;
}

#logo{
  position:absolute;
  left:0;
  top:0;
  width:10%;
}

.panel p {
  color: #0a361e;
  text-align: left;

}


hr{
  opacity: 1;
  height: 3px;
  background-color: #0a361e;
}

.titleText{
    opacity: 0;
}


/* Lines */ 
.st1 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 4s linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke:#0a361e;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}

.st2 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 6s  linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke:#0a361e;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Scroll Down Button */ 
.scroll-down {
  position: absolute; 
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #0a361e;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}

.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iIzBhMzYxZTsiIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  color: #0a361e;;
  background-size: contain;
}

.step{
  opacity: 0.2;
}

.active {
  opacity: 1 !important;
}

/*Panel 2*/ 
.panel2{
  height: 100vh;
  display: block;
  text-align: left;
  color: #0a361e;
  background-image: url('./img/texture.png');
}


.st3 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 6s  linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke: #0a361e;
  stroke-width:1 px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}

.st4 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 6s  linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke: #0a361e;
  stroke-width:1 px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}



/*Panel 3*/ 
.panel3 {
  height:100vh;
  display:block;
  text-align: left;
  background-image: url('./img/texture.png');
  color: #0a361e;
}

.st5 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 6s  linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke: #0a361e;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}

.st6 {
  stroke-dasharray: 6560;
  stroke-dashoffset: 6550;
  animation: dash 6s  linear forwards;
  animation-iteration-count: 1;
  fill:none;
  stroke: #0a361e;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:10;
  stroke-opacity:1
}



/*Panel 4*/ 
.panel4 {
  height:100vh;
  display:block;
  text-align: left;
  background-image: url('./img/texture.png');
  color: #0a361e;
}


video {
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 25%;
}

.vidExplain { 
  position: relative;
  margin-top: 100px;
 }

.stepVid {
  opacity: 0;
}






